<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :username, "名前" %><br />
  <%= f.text_field :username, autofocus: true %></div>
  
  <% if false %> コメントです。表示されません。
  <div><%= f.label :email, "Eメール" %><br />
  <%= f.email_field :email, autofocus: true %></div>
  <% end %>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div><%= f.label :password, "パスワード" %> <i>(パスワードを変更しない場合は空欄のままにしてください)</i><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div><%= f.label :password_confirmation, "パスワード(再入力)" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

  <div><%= f.label :current_password, "現在のパスワード" %> <i>(更新するために現在のパスワードが必要です。)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %></div>

  <div><%= f.submit "更新" %></div>
<% end %>

<h3退会</h3>

<p>退会してユーザー情報を削除しますか？ <%= button_to "退会する", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "戻る", :back %>
