<%= form_for(tweet) do |f| %>
  <% if tweet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tweet.errors.count, "error") %> prohibited this tweet from being saved:</h2>

      <ul>
      <% tweet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <h2>
      <% if current_user.image %>
        <%= image_tag "/user_images/{user.image}" %>
      <% else %>
        <%= image_tag "egg.png",:size => '50x50' %>
      <% end %>
      <strong><%= current_user.username %></strong>
    </h2></br>
    <div class="col-xs-6 col-md-4" style="border: 1px solid #009000">
      つぶやき</br>
      <strong><%= current_user.tweets.count %></strong>
    </div>
    <div class="col-xs-6 col-md-4" style="border: 1px solid #009000">
      フォロー</br>
      <a href = "<%= following_user_path(@user) %>">
        <strong id = "following" class="stat">
          <%= @user.followings.count %>
        </strong>
      </a></br>
    </div>
    <div class="col-xs-6 col-md-4" style="border: 1px solid #009000">
      フォロワー</br>
      <a href = "<%= followers_user_path(@user) %>">
        <strong id ="followers" class="stat">
          <%= @user.followers.count %>
        </strong>
      </a></br>
    </div>
  </br>
    <%= f.label :content,"今の気持ちをつぶやきましょう" %>
    <%= f.text_area :content, :size => "28x5" %>
  </div>

<button type="submit" class="btn btn-success">つぶやく</button>

<% end %>
