<% if user_signed_in? %>
<div class="col-xs-12 col-md-4" style="border: 1px solid #009000">
<%= render 'form', tweet: @tweet %>
</div>
<div class="col-xs-6 col-md-8" style="border: 1px solid #009000">
<h1>タイムライン</h1>

<table class= "table table-striped table-bordered table-hover ">
  <thead >
    <tr>
      <th>Name</th>
      <th>Tweet</th>
      <th>Favorite</th>
    </tr>
  </thead>

  <tbody>
    <% @tweets.each do |tweet| %>
      <tr>
        <td><% if tweet.user.image %>
          <%= image_tag "/user_images/{user.image}" %>
        <% else %>
          <%= image_tag "egg.png",:size => '25x25' %>
        <% end %>
          <%= link_to tweet.user_name, user_path(:id =>tweet.user.id)%></td>
        <td><%= link_to tweet.content, tweet %></td>
        <td>
        <% if current_user.likes.find_by(tweet_id: tweet.id) %>
          <%= link_to'★',unlike_path(tweet.id),method: :delete %>
          <% else %>
          <%= link_to '☆', like_path(tweet.id),method: :post %>
        <% end %>
        <%= tweet.likes.count %>
      </td>
      <% if current_user.id == tweet.user_id %>
        <td><%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

</div>
<% else %>
<div class="col-xs-6 col-md-12" style="border: 1px solid #009000">
<h1>Tweets</h1>

<table class= "table table-striped table-bordered table-hover ">
  <thead >
    <tr>
      <th>Name</th>
      <th>Tweet</th>
      <th>Favorite</th>
    </tr>
  </thead>

  <tbody>
    <% @tweets.each do |tweet| %>
      <tr>
        <td><%= tweet.user_name %></td>
        <td><%= tweet.content %></td>
        <td>
        <%= tweet.likes.count %>
      </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

</div>
<% end %>
