<% provide(:title, @title) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1><%= @user.username %></h1>
      <span><b>Tweets:</b> <%= @user.tweets.count %></span>
    </section>
    <section>
      <%= render 'users/stats' %>
    </section>
  </aside>
  <div class="span8">
    <h3><%= @title %></h3>
    <% if @users.any? %>
      <ul class="users">
        <% @followers.each do |follower| %>
        <tr>
          <li><%= @users.find_by(id: follower.following_id).username %></li>
        </tr>
      <% end %>
      </ul>
    <% end %>
  </div>
</div>
