<% provide(:title, @user.username) %>
<h1><%= @user.username %>のマイページ</h1>

<section class="stats">
  <%= render 'users/stats' %>
</section>
</br>
<% unless current_user.id == @user.id %>
  <div id="follow_form">
  <% if current_user.following?(@user) %>
      <%= link_to "フォロー解除", relationship_path(user_id: @user.id), method: :delete,:class => 'btn btn-danger',:style=>"color:white"  %>
    <% else %>
      <%= link_to "フォローする", relationships_path(user_id: @user.id), method: :post, :class => 'btn btn-primary',:style=>"color:white" %>
    <% end %>
  </div>
<% end %>

<h3> ツイート一覧 </h3>
<ul class="tweets">
  <!-- ここで@notesに対してeachメソッドを用いてください -->
  <% @tweets.each do |tweet| %>
  <li><%= link_to tweet.content, tweet %></li>
  <% end %>
</ul>
